*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: 'Source Sans Pro', sans-serif;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    background-color: #eee;
}

.header-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    min-height: 80px;
    padding: 20px;
}

.nav {
    justify-self: right;
}

.nav--list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 40px;
}

.nav--list a {
    display: inline-block;
    font-size: 24px;
    color: #333;
    padding-bottom: 2px;
    border-bottom: 3px solid transparent;
    transition: border-color 0.2s ease;
}

.nav--list .active a,
.nav--list a:hover {
    border-bottom-color: rgb(153, 13, 181);
}