*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1a1a1a;
  color: white;
  font-family: "Manrope", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}