*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0 0 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #333;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.section {
  margin-top: 100px;
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-auto-rows: 150px;
  gap: 20px 20px;
  height: 600px;
}

.grid-1--item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ff4b14;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-auto-rows: 150px;
  gap: 20px 20px;
  height: 600px;
}

.grid-2--item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #417f17;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}



