*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

h1 {
  margin: 0;
  color: rgb(123, 10, 179);
  font-size: 36px;
  font-weight: 900;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
}

main {
  width: 100%;
  max-width: 1300px;
  margin: 100px auto auto;
  padding: 0 10px;
}

.faq {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.faq--item--question {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  padding-left: 30px;
  position: relative;
}

.faq--item--question::before {
  content: "?";
  position: absolute;
  top: 5px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  background-color: rgb(123, 10, 179);
  border-radius: 50%;
}

.faq--item--answer {
  margin: 40px 0 0;
  padding: 5px 0 5px 30px;
  border-left: 2px solid rgba(123, 10, 179, 0.4);
}