*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1a1a1a;
  color: white;
  font-family: "Manrope", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

h1 {
  margin: 0 0 20px;
  font-size: 36px;
  text-align: center;
}

.wrapper {
  padding: 100px 0;
}

.wrapper > p {
  font-size: 16px;
  text-align: center;
}

.pricing-plans {
  margin: 80px auto auto;
  width: 100%;
  max-width: 1140px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.plan-item {
  padding: 40px 30px;
  background-color: #e9e60e;
  color: black;
  text-align: center;
}

.plan-item--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.plan-item--icon i {
  font-size: 50px;
}

.plan-item--name {
  margin: 20px 0 0;
  font-size: 32px;
  font-weight: 600;
}

.plan-item--price {
  margin-top: 20px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
}

.plan-item--price sup {
  font-size: 34px;
  line-height: 50px;
  font-weight: 600;
}

.plan-item--duration {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
}

.plan-item--try {
  display: inline-block;
  margin: 30px 0;
  padding: 15px 35px;
  background-color: #e21b1b;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.plan-item--free {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.plan-item--features {
  margin-top: 20px;
}

.plan-item--features li {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3;
}

.plan-item--features li + li {
  margin-top: 10px;
}

.plan-item.popular {
  margin-top: -30px;
  margin-bottom: -20px;
  padding-top: 70px;
  background-color: #1a00cd;
  color: white;
  position: relative;
}

.plan-item.popular .plan-item--try {
  background-color: #e9e60e;
  color: black;
}

.plan-item--tagline {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.plan-item--tagline span {
  font-weight: 600;
  line-height: 1.8;
  position: relative;
  z-index: 2;
}

.plan-item--tagline::after {
  content: "";
  width: 170px;
  position: absolute;
  top: 0;
  left: 50%;
  border-top: 30px solid #e21b1b;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  transform: translateX(-50%);
  z-index: 1;
}
