*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #303030;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

h1, h2 {
  margin: 0;
}

.app {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 230px;
  gap: 10px 10px;
}

.app--tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app--tile:nth-child(12) {
  grid-column: 2 / 5;
}

.app--tile i {
  font-size: 40px;
  position: relative;
  z-index: 2;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  margin-top: 10px;
  font-size: 34px;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

.orange-tile {
  background-color: #f94821;
  color: white
}

.black-tile {
  background: none;
  perspective: 600px;
}

.app--tile--content {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.app--tile--face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.front {
  background-color: #1a1a1a;
}

.back {
  background-color: rgb(16, 122, 215);
  transform: rotateY( 180deg );
}

.app--tile--content:hover {
  transform: rotateY(180deg);
}

.bg-tile {
  background-image: url("./images/run.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  position: relative;
}

.bg-tile::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
}

