*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.features-list {
  margin: 100px auto auto;
  width: 100%;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 80px 80px;
  justify-content: center;
}

.feature--item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 25px;
}

.feature--icon {
  margin-top: 7px;
  color: #03a9f4;
  font-size: 24px;
}

.feature--block {
  display: grid;
  row-gap: 30px;
}

.feature--block--heading {
  margin: 0;
  font-size: 28px;
  font-weight: 300;
}

.feature--block--text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
}

.feature--block--link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  max-width: 120px;
  height: 35px;
  color: black;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid black;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.feature--block--link:hover {
  background-color: #03a9f4;
  color: white;
  border-color: #03a9f4;
}
