*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: 'Source Sans Pro', sans-serif;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}