*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(0, 213, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 213, 255, 1) 0%,
    rgba(14, 153, 233, 1) 100%
  );
}

ul {
  padding: 0;
  list-style: none;
}

.grid-container {
  display: grid;
  width: 100%;
  max-width: 1100px;
  margin: 150px auto;
}

.grid--item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: coral;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border: 3px solid white;
}
