*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f6f6f6;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    margin: 0;
    color: rgb(130, 129, 129);
    font-weight: 600;
    text-align: center;
}

.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: auto;
}