*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(0, 213, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 213, 255, 1) 0%,
    rgba(14, 153, 233, 1) 100%
  );
}

ul {
  padding: 0;
  list-style: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-auto-columns: auto;
  grid-template-rows: repeat(2, 100px);
  grid-auto-rows: 10%;
  gap: 50px 2.5rem;
  width: 100%;
  height: 1200px;
  max-width: 1100px;
  margin: 150px auto;
}

.grid--item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: coral;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border: 3px solid white;
}

.custom-column {
  background-color: lawngreen;
  grid-column: 1 / 4;
  grid-row: 1 / span 3;
}
