*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0 0 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #333;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.section {
  margin-top: 100px;
}

.grid-1--item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: deeppink;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}

.grid-2--item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: deepskyblue;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}

header {
  padding: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: cornflowerblue;
}

nav {
  padding: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: coral;
}

.content {
  padding: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: darkorange;
}

aside {
  padding: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: crimson;
}

footer {
  padding: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: limegreen;
}




