*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(0, 213, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 213, 255, 1) 0%,
    rgba(14, 153, 233, 1) 100%
  );
}

h1 {
  margin: auto;
  padding: 20px;
  background-color: #333;
  text-align: center;
  color: white;
  font-size: 60px;
  border-top: 4px solid yellow;
  border-bottom: 4px solid yellow;
}

h1 > span {
  display: inline-block;
  margin-left: 50px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 80%;
  margin: 100px auto 0;
  position: relative;
}

.x-axis {
  margin-top: 20px;
  padding-bottom: 10px;
  color: #820c0c;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 10px solid #820c0c;
  position: relative;
}

.x-axis::after {
  content: "";
  position: absolute;
  bottom: -25px;
  right: -20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 40px;
  border-color: transparent transparent transparent #820c0c;
}

.y-axis {
  position: absolute;
  top: -30px;
  right: -100px;
  width: auto;
  height: 100%;
  color: rgb(18, 7, 134);
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  border-left: 10px solid rgb(18, 7, 134);
}

.y-axis span {
  position: absolute;
  top: -50px;
  left: 0;
  display: block;
  transform: translateX(-485px);
  white-space: nowrap;
}

.y-axis::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: -25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 20px 0 20px;
  border-color: rgb(18, 7, 134) transparent transparent transparent;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-auto-rows: 150px;
  /* justify-content: center;
  align-content: center; */
  justify-items: center;
  width: 100%;
  min-height: 600px;
  border: 10px solid brown;
}

.grid--item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 100px;
  background-color: coral;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border: 3px solid white;
}
