*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0 0 100px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #333;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.section {
  margin-top: 100px;
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 100px 150px;
  gap: 15px 30px;
}

.grid-1--item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: deeppink;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}

.grid-2 {
  display: grid;
  grid-template-columns: [main-start] minmax(30%, 400px) 1fr minmax(30%, 400px) [main-end];
  grid-auto-rows: 200px;
  gap: 50px 50px;
}

.grid-2--item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: deepskyblue;
  color: white;
  font-size: 30px;
  text-transform: uppercase;
}

.layout {
  display: grid;
  grid: 
    "header header nav nav" 150px
    "content content content sidebar" 400px
    ". footer footer ." 100px
    / minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
  /* grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: 150px 400px 100px; */
  gap: 20px 20px;
  /* grid-template-areas: 
    "header header nav nav"
    "content content content sidebar"
    ". footer footer ."; */
}

header {
  grid-area: header;
  padding: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: cornflowerblue;
}

nav {
  grid-area: nav;
  padding: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: coral;
}

.content {
  grid-area: content;
  padding: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: darkorange;
}

aside {
  grid-area: sidebar;
  padding: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: crimson;
}

footer {
  grid-area: footer;
  padding: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: limegreen;
}

@media screen and (max-width: 800px) {
  .layout {
    grid-template-areas:
      "header nav nav nav"
      "sidebar content content content"
      "footer footer footer footer";
  }
}




