*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1a1a1a;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

h1, h2 {
  margin: 0;
  color: white;
}

p {
  margin: 0;
  color: white;
}

span {
  display: inline-block;
  color: white;
}