*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1a1a1a;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

h1, h2 {
  margin: 0;
  color: white;
}

p {
  margin: 0;
  color: white;
}

span {
  display: inline-block;
  color: white;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 100px auto auto;
  padding-bottom: 100px;
}

h1 {
  font-size: 55px;
  text-align: center;
}

.wrapper > p {
  margin-top: 10px;
  font-size: 24px;
  text-align: center;
}

.places-list {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
}

.place--item:nth-child(even) {
  margin-top: 200px;
}

.place--photo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 400px;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border: 5px solid #ffce00;
  position: relative;
  transition: transform 1s ease-in-out;
}

.place--photo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.place--photo .name {
  place-self: start left;
  font-size: 14px;
  position: relative;
  z-index: 3;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;
}

.place--photo .location {
  place-self: end right;
  font-size: 14px;
  position: relative;
  z-index: 3;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;
}

.place--photo .play-ic {
  place-self: center center;
  width: 80px;
  height: 80px;
  background: url("./images/play-ic.svg") 0 0 no-repeat;
  background-size: 80px 80px;
  position: relative;
  z-index: 3;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s, visibility 0.3s;
}

.place--photo:hover {
  transform: scale(1.07);
}

.place--photo:hover::after,
.place--photo:hover .name,
.place--photo:hover .location,
.place--photo:hover .play-ic {
  opacity: 0;
  visibility: hidden;
} 

.place--info {
  margin-top: 40px;
}

.place--title {
  display: inline-block;
  padding: 10px;
  background-color: #ffce00;
  transform: skewX(-20deg);
}

.place--title h2 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transform: skewX(20deg);
}

.place--text {
  margin-top: 25px;
  padding-left: 15px;
  border-left: 2px solid #ffce00;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
}

.place--item:nth-child(even) .place--text {
  padding-left: 0;
  border-left: 0;
  padding-right: 15px;
  border-right: 2px solid #ffce00;
}