*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgb(0, 213, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 213, 255, 1) 0%,
    rgba(14, 153, 233, 1) 100%
  );
}

ul {
  padding: 0;
  list-style: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  /* grid-template-rows: 100px 100px; */
  grid-auto-rows: 150px;
  grid-auto-flow: dense;
  gap: 50px 2.5rem;
  width: 100%;
  max-width: 1100px;
  margin: 150px auto;
}

.grid--item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: coral;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  border: 3px solid white;
}

.custom-column {
  background-color: lawngreen;
  grid-column: 1 / span 3;
}

/* Grid template areas styles */

.page {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  grid-template-rows: 150px 500px 100px;
  grid-template-areas: 
    "header header header"
    "sidebar content content"
    "footer footer footer";
  gap: 20px 20px;
  width: 100%;
  max-width: 1280px;
  margin: 100px auto;
  padding: 20px;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  grid-area: header;
  background-color: green;
}

.sidebar {
  grid-area: sidebar;
  background-color: crimson;
}

.content {
  grid-area: content;
  background-color: darkkhaki;
}

.footer {
  grid-area: footer;
  background-color: darkorchid;
}

@media screen and (max-width: 800px) {
  .page {
    grid-template-areas: 
      "header header sidebar"
      "content content sidebar"
      "footer footer footer";
  }
}
